<ng-container *ngIf="(myTeamsTasks$ |async)?.length; else noResult">
    <!--__________Table_______________-->
    <app-table-wrapper [config]='tableConfig' [records$]='myTeamsTasks$'
    (sortChange)="fireSortMyTeamsTasksAction($event)"
    (actionTaken)='mapTableAction($event)'
    [showAndHideDrippledColumns]="true"
    [showAndHideShowDetails]="true"
    (showDetailsChange)="toggleShowDetails($event)"
    [classes]="pagination?.pageSize > 10 ? 'scroll' : 'no-scroll'">
    </app-table-wrapper>


    <!--_____________pagination__________-->
    <!-- Pagination -->
    <app-pagination [config]="pagination" (paginationChange)='firePaginateMyTeamsTasks($event)'>
    </app-pagination>
</ng-container>


<ng-template #noResult>
    <app-no-result></app-no-result>
</ng-template>