<ng-container *ngIf="(records$ | async)?.length; else noResult">


   <!-- Table -->
   <app-table-wrapper [records$]="records$" [config]="tableConfig" (actionTaken)="mapTableAction($event)"
      (sortChange)=" fireSortTable($event)" [classes]="pagination?.pageSize > 10 ? 'scroll' : 'no-scroll'">
   </app-table-wrapper>


   <!-- Pagination -->
   <app-pagination [config]="pagination" (paginationChange)="PaginateMyTeamLeaveRequests($event)">
   </app-pagination>

</ng-container>


<ng-template #noResult>
   <app-no-result></app-no-result>
</ng-template>