
<ng-container *ngIf="(records$ | async)?.length; else noResult">

   <!-- Table -->
  <app-table-wrapper [records$]="records$" [config]="tableConfig" (actionTaken)="mapTableAction($event)"
   (sortChange)="fireSortRequestsAction($event)" 
   [classes]="pagination?.pageSize > 10 ? 'scroll' : 'no-scroll'"
   [showAndHideDrippledColumns]="true"
   (showDetailsChange)="toggleShowDetails($event)"
   [showAndHideShowDetails]="true"
   >
   </app-table-wrapper>


   <!-- Pagination -->
   <app-pagination [config]="pagination" (paginationChange)="firePaginateRequestsAction($event)">
   </app-pagination>

</ng-container>


<ng-template #noResult>
   <app-no-result></app-no-result>
</ng-template>

