<div class='relative pt-6 pb-2'>

    <div class="relative border rounded-md py-2 pl-5">
        <ssa-info-field label="Entity :" [value]="promotionRequestDetails?.entityName"></ssa-info-field>

        <ssa-info-field label="Employee Name :" [value]="promotionRequestDetails?.targetEmployee.fullName">
        </ssa-info-field>

        <ssa-info-field label="Employee Email :" type="email" [value]="promotionRequestDetails?.targetEmployee.organizationEmail"></ssa-info-field>

        <ssa-info-field label="Department :" [value]="promotionRequestDetails?.department"></ssa-info-field>
        <ssa-info-field label="Department Code:" [value]="promotionRequestDetails?.departmentCode"></ssa-info-field>


        <ssa-info-field label="Title :" [value]="promotionRequestDetails?.title"></ssa-info-field>


        <ssa-info-field label="Current Level :" [value]="promotionRequestDetails?.currentLevelName"></ssa-info-field>

        <ssa-info-field label="Current Level Description :">

            <span *ngFor="let item of promotionRequestDetails?.currentLevelDescription.split('\\n'); first as isFirst"
                class="font-normal italic text-sm ml-1 text-gray-700" [ngClass]="{'ml-2':isFirst}">{{item}}</span>

        </ssa-info-field>

        <ssa-info-field label="Promotion Level :" [value]="promotionRequestDetails?.promotionLevelName">
        </ssa-info-field>


        <ssa-info-field label="Promotion Level Description :">

            <span *ngFor="let item of promotionRequestDetails?.promotionLevelDescription.split('\n'); first as isFirst"
                class="font-normal italic text-sm ml-1 text-gray-700" [ngClass]="{'ml-2':isFirst}">{{item}}</span>

        </ssa-info-field>

        <ssa-info-field label="Notes :" type="note" [value]="promotionRequestDetails?.instanceNote"></ssa-info-field>


    </div>

   
</div>