<app-inner-page-layout>
   <ng-container>
      <div class="py-3 border-b-2">

         <h1>{{headInformation.title}}</h1>
      </div>
      <div class="flex justify-end pt-4 pb-7">

         <button mat-button class="action-btn rounded-none self-end" (click)="ExportMyTeamLeaveRequests()"
            title="Download results as Excel File">
            Leaves Report
         </button>
        
      </div>
      <!-- Filters Wrapper -->
      <div class="md:flex md:justify-between md:items-center bg-white px-2 md:px-5  py-2 my-7 filterBox"
      >
         <!-- Search Filter -->
         <div class="flex items-center flex-grow">
            <mat-icon class="text-gray-400">filter_alt</mat-icon>
            <app-search-input [shouldSearchUpdate]="isSearchReset ? true : false" placeholder="Search by name..." [withResult]="false" [search]="isSearchReset ? '' : null"
               (searchChange)="fireSearchMyTeamLeaveRequests($event)" class="filterBox-search flex-grow"
               searchTooltip="Search by request ID, name or email" [isMobileScreen]="isMobile">
            </app-search-input>
         </div>

         <div class="flex md:flex-nowrap  justify-end items-center">
            <!-- Date Filter -->
               <mat-form-field class="px-3 flex-grow">
                  <mat-label>From - To</mat-label>
                  <mat-date-range-input #dateRange [rangePicker]="picker">
                     <input readonly matStartDate [(ngModel)]="dateFilter.from" class="cursor-default"
                        placeholder="From">
                     <input readonly matEndDate [(ngModel)]="dateFilter.to" class="cursor-default" placeholder="To"
                        (dateChange)="onChangeToDate();">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker">
                  </mat-datepicker-toggle>
                  <mat-date-range-picker startView="month" disabled="false" #picker ></mat-date-range-picker>
               </mat-form-field>
            <!-- Request Type Filter -->
               <app-basic-select class="px-5 block" [emitPassedValue]="false" [options]="requestTypes"
                  [config]="requestTypesSelectConfig" (optionsChange)="fireFilterByTypes($event)"  label="Request type">
               </app-basic-select>
            <!-- Request Status Filter -->
               <app-basic-select class="block px-3 " [emitPassedValue]="false" [options]="requestStatuses"
                  [config]="requestStatesSelectConfig" (optionsChange)="fireFilterByStatuses($event)" 
                  label="Request status">
               </app-basic-select>


            <button (click)="resetFiltration()" class="p-0" mat-button color="warn" aria-label="Clear Filter">
               Clear
            </button>
         </div>

      </div>
      <div class="inner-wrapper bg-white w-full p-1 lg:p-5 ">
         <ng-container *ngIf="!isMobile; else mobileCardsView">
            <ssa-table-my-teams-leave-requests [records$]="allMyTeamLeaveRequests$" [pagination]="pagination"
               [actions]="tableActions"></ssa-table-my-teams-leave-requests>
         </ng-container>

         <ng-template #mobileCardsView>
            <ssa-cards-wrapper-my-team-leave-requests [records$]="allMyTeamLeaveRequests$" [pagination]="pagination"
               [actions]="tableActions"></ssa-cards-wrapper-my-team-leave-requests>
         </ng-template>
      </div>
   </ng-container>
</app-inner-page-layout>